<!DOCTYPE html>
<html lang="{{page_locale}}"
    class="{{ gcb_html_element_class }}">
  <head>
    <base href="{{ gcb_course_base }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    {% block title %}
    {% endblock %}

    <!-- The following translated strings are used in activity-generic.js and should be
    declared before that file is imported. -->
    <script>
      // inline translations
      var trans = {};

      {# I18N: Text on the button for checking an answer. #}
      trans.CHECK_ANSWER_TEXT =
          "{{ gettext(' Check Answer ')|replace('\"', '\\\"') }}";

      {# I18N: Text on the button for checking a set of answers. #}
      trans.CHECK_ANSWERS_TEXT =
          "{{ gettext( ' Check Answers ')|replace('\"', '\\\"') }}";

      {# I18N: Text on the button for showing the answer to a question. #}
      trans.SHOW_ANSWER_TEXT =
          "{{ gettext(' Skip and Show Answer ')|replace('\"', '\\\"') }}";

      {# I18N: Text on the button for saving answers to a question. #}
      trans.SAVE_ANSWERS_TEXT =
          "{{ gettext(' Save Answers ')|replace('\"', '\\\"') }}";

      {# I18N: Text on the button for saving a draft answer. #}
      trans.SAVE_DRAFT_TEXT =
          "{{ gettext(' Save Draft ')|replace('\"', '\\\"') }}";

      {# I18N: Text on the button for submitting answers. #}
      trans.SUBMIT_ANSWERS_TEXT =
          "{{ gettext(' Submit Answers ')|replace('\"', '\\\"') }}";

      {# I18N: Text on the button for submitting a peer-reviewed assignment. #}
      trans.SUBMIT_ASSIGNMENT_TEXT =
          "{{ gettext(' Submit Assignment ')|replace('\"', '\\\"') }}";

      {# I18N: Text on the button for submitting a peer review. #}
      trans.SUBMIT_REVIEW_TEXT =
          "{{ gettext(' Submit Review ')|replace('\"', '\\\"') }}";

      {# I18N: Text to prompt the student to select a multiple-choice answer. #}
      trans.SELECT_ANSWER_PROMPT =
          "{{ gettext(' Please click one of the buttons for your answer. ')|replace('\"', '\\\"') }}";

      {# I18N: Text appearing after the student has answered all questions correctly. #}
      trans.ALL_CORRECT_TEXT =
          "{{ gettext(' All your answers are correct! ')|replace('\"', '\\\"') }}";

      {# I18N: Text appearing after the student has answered all questions correctly. #}
      trans.NUM_CORRECT_TEXT =
          "{{ gettext(' Number of questions you answered correctly ')|replace('\"', '\\\"') }}";

      {# I18N: Text appearing after the student has submitted an assessment. #}
      trans.YOUR_SCORE_TEXT =
          "{{ gettext(' You received a score on this assessment of ')|replace('\"', '\\\"') }}";

      {# I18N: Text appearing after the student has checked his/her answers to an assessment. #}
      trans.LESSONS_TO_REVIEW_TEXT =
          "{{ gettext(' Here are lessons you could review to improve your score ')|replace('\"', '\\\"') }}";

      {# I18N: Text appearing after the student has checked his/her answers to an assessment. #}
      trans.PERFECT_SCORE_SAVE_TEXT =
          "{{ gettext(' Congratulations! Press the \\\'Submit Answers\\\' button to submit your grade. ')|replace('\"', '\\\"') }}";

      {# I18N: Text appearing after the student has checked his/her answers to an assessment. #}
      trans.GENERIC_SAVE_TEXT =
          "{{ gettext(' Press the \\\'Submit Answers\\\' button below to save your scores. You can also edit your answers above before clicking \\\'Submit Answers\\\'. ')|replace('\"', '\\\"') }}";

      {# I18N: Text appearing in a confirmation dialog after the student has tried to submit an assignment. #}
      trans.SUBMIT_ASSIGNMENT_CONFIRMATION =
          "{{ gettext(' Are you sure you want to submit this assignment? ') }}";

      {# I18N: Text appearing in a confirmation dialog after the student has tried to submit a review. #}
      trans.SUBMIT_REVIEW_CONFIRMATION =
          "{{ gettext(' Are you sure you want to submit this review? ') }}";

      {# I18N: Text appearing in a confirmation dialog after 'Are you sure you want to submit this assignment/review?' #}
      trans.CONFIRMATION_EXPLANATION =
          "{{ gettext(' You cannot edit or delete it after you have done so. ') }}";
    </script>

    {% block assets %}
    {% endblock %}

    {% for url in extra_global_css_urls %}
      <link rel="stylesheet" href="{{url}}" type="text/css">
    {% endfor %}

    {% for url in extra_global_js_urls %}
      <script src="{{url}}" type="text/javascript"></script>
    {% endfor %}

    <script>
      var eventXsrfToken = '{{ event_xsrf_token }}';
      {% if can_record_student_events %}
        var gcbCanRecordStudentEvents = true;
      {% endif %}

      {% if transient_student %}
        var transientStudent = true;
      {% else %}
        var transientStudent = false;
      {% endif %}
    </script>

    {% if course_info.base.show_gplus_button %}
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    {% endif %}

    <script>
      function gcb_edit_hook_point(key) {
        window.location=('dashboard?action=edit_html_hook&key=' +
            encodeURIComponent(key));
      }
      $(function() {
        // TODO(nretallack): This duplicates code in
        // modules/dashboard/resources/js/view.js.
        function parseJson(s) {
          var xssiPrefix = ")]}'";
          return JSON.parse(s.replace(xssiPrefix, ''));
        }

        $("#locale-select").change(function() {
          var localeSelect = $("#locale-select");
          var request = JSON.stringify({
            xsrf_token: localeSelect.data("xsrf-token"),
            payload: {
              selected: localeSelect.val()
            }
          });
          $.ajax({
            url: "rest/locale",
            type: "POST",
            data: {request: request},
            dataType: "text",
            success: function(data) {
              data = parseJson(data);
              if (data.status == 200) {
                window.location.reload();
              }
            }
          });
        });
      });
    </script>

    {% if not suppress_analytics %}
      {% import 'ga.html' as ga %}
      {{ ga.render_google_analytics_script(
             course_info.course.google_analytics_id) }}
    {% endif %}

    {{ html_hooks.insert('base.before_head_tag_ends') | safe}}
  </head>

  <body data-gcb-page-locale="{{ page_locale }}">

    {{ html_hooks.insert('base.after_body_tag_begins') }}

    {% if not suppress_analytics %}
      <script>
        // Course-Builder specific setup for Google Tag Manager.  Iff
        // Tag Managers is enabled, the values in the dataLayer list of
        // dicts is made available to Tag Manager macros.
        dataLayer = [{
          'course_title': '{{ course_info.course.title }}',
          'event': 'default',  // Explicit value meaning not-really-set.
          }];

        function gcbSetPageInfo(dict) {
          dataLayer.push(dict);
        }

        // Invoke page-specific block so that any calls to gcbReportPageInfo()
        // are made before we hit the Tag Manager call, below.
        {% block gcb_page_info %}
        {% endblock %}
      </script>

      {% if course_info.course.google_tag_manager_id %}
          <!-- Google Tag Manager.  This boilerplate code is as generated by the
               Tag Manager site, except that the ID is templated. -->
          <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ course_info.course.google_tag_manager_id }}"
          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
          <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','{{ course_info.course.google_tag_manager_id }}');</script>
        <!-- End Google Tag Manager -->
    {% endif %}
    {% endif %}

    {% block navbar %}
    {% endblock %}

    <!-- top section -->
    <div class="is-wrapper">
      <div class="gcb-aux">
        {% block top_content %}{% endblock %}
        {{ html_hooks.insert('base.after_top_content_ends') }}

        <!-- main section -->
        {% block main_content %}{% endblock %}
        {{ html_hooks.insert('base.after_main_content_ends') }}
      </div>
    </div>

    <!-- footer section -->

    <!--  Footer  -->
    <footer>
      <div class="card footer-top">
          <div class="row">
              <div class="col l6 m12">
                  <img src="/modules/explorer/_static/images/logo.png" alt="Google" aria-label="Google" draggable="false">
                  <p>A Growth Engine for Digital Skills</p>
              </div>

              <div class="col l3 m12 footer-privacy">
                  <a href="https://www.google.co.uk/intl/en/policies/privacy/?fg=1" class="gbl-footer__link"
                    target="_blank">
                      <span class="tiny-text">Privacy &amp; Terms</span>
                  </a>
              </div>

              <div class="col l3 m12">
                  <select aria-label="Choose another locale" class="browser-default">
                    <option value="https://courses.academy.africa/">
                      Africa
                    </option>
                  </select>
              </div>
          </div>
      </div>

      <div class="footer-bottom">
          <div class="row">
              <div class="col l8 m12 s12 footer-appstores">
                  <div class="col s8">
                    <a target="_blank" href="https://codeforafrica.org/">
                        <img class="store cfa-footer-logo" src="/modules/explorer/_static/images/powered-by-gray.png">
                    </a>
                  </div>

                  <div class="col s12 footer-captions">
                      <p>The StoryLab Academy is an initiative of <a href="https://codeforafrica.org/" target="_blank">Code for Africa</a></p>
                      <p>in partnership with the <a href="https://newslab.withgoogle.com/" target="_blank">Google News Lab</a> and the <a href="http://worldbank.org/" target="_blank">World Bank</a>.</p>
                  </div>

              </div>

              <div class="col l4 m12 footer-social-icons">
                  <br>
                  <a target="_blank" href="#!homepage">Home
                  </a>
                  <br>
                  <a target="_blank" href="#!feedback">Contact Us
                  </a>
                  <br>
                  <a target="_blank" href="#!explorer">Courses
                  </a>
              </div>
          </div>
      </div>
    </footer>

    {{ html_hooks.insert('base.before_body_tag_ends') }}

    {% if context %}
      <div class="gcb-jinja-context">
      {% for key, value in context() | dictsort %}
          <p>{{ key }}: {{ value | forceescape }}<p>
      {% endfor %}
      </div>
    {% endif %}
    {% if debug_info %}
<!-- gcb-debug-info-begin
{{ debug_info }}
gcb-debug-info-end //-->
{% endif %}


    <script type="text/javascript" src="/modules/explorer/_static/js/materialize.min.js"></script>
    <script src="/modules/explorer/_static/js/owl.carousel.min.js"></script>
    <script src="/modules/explorer/_static/js/course.js"></script>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44795600-39"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments)
      };
      gtag('js', new Date());

      gtag('config', 'UA-44795600-39');
    </script>

    {% if page_uuid %}
      <!-- For functional tests; please leave this section dead last. -->
      <div id="page_uuid"
           style="display: none"
           data-value="{{ page_uuid }}"
           data-loaded="false"
           >
      </div>
      <script>
        $(function(){ $("#page_uuid").attr("data-loaded", "true"); });
      </script>
    {% endif %}
  </body>
</html>
