<!--  Dropdown(s) -->
<ul id='share-dropdown' class='dropdown-content'>
  <li><a target="_blank" href="https://plus.google.com/share?url=https://courses.academy.africa">
    <img src="/modules/explorer/_static/images/google-plus.png" alt=""
         width="25" height="22">
    Google +
  </a></li>
  <li class="divider"></li>
  <li><a target="_blank" href="https://twitter.com/share?url=https://courses.academy.africa">
    <img src="/modules/explorer/_static/images/twitter.png" alt="twitter"
         widht="25" height="22">
    twitter</a></li>
  <li>
    <a target="_blank"
       href="http://www.facebook.com/sharer/sharer.php?url=https://courses.academy.africa">
      <img src="/modules/explorer/_static/images/facebook.png" alt="FB"
           widht="22" height="22">
      Facebook</a></li>
  <li>
    <a target="_blank" href="https://www.linkedin.com/in/share?url=https://courses.academy.africa">
      <img src="/modules/explorer/_static/images/linkedln.png" alt="Linkedln"
           widht="22" height="22">
      Linkedln</a></li>
  <li class="divider"></li>
</ul>
