{% extends 'base_course.html' %}

{% block gcb_page_info %}
  if ('gcbSetPageInfo' in window) {
  gcbSetPageInfo({
  'page_type': '{{ page_type }}',
  'unit_id': '{{ unit.unit_id }}',
  {% if lesson %}
    'lesson_id': '{{ lesson.lesson_id }}',
  {% endif %}
  {% if assessment %}
    'assessment_id': '{{ assessment.unit_id }}',
  {% endif %}
  });
  }
{% endblock %}

{% block subtitle %}
  - {{ display_unit_title(unit) }}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}


{% if is_read_write_course and is_course_admin %}
  {% block assets %}
    {{ super() }}
    <script src="/modules/dashboard/resources/js/in_place_lesson_editor.js"></script>
    <link rel="stylesheet" href="/modules/dashboard/_static/css/in_place_lesson_editor.css">
    <link rel="stylesheet"
          href="/static/material-design-icons/css/material-design-iconic-font.min.css">
  {% endblock %}
{% endif %}

{% block main_content %}

  <script>
    var questionData = {};
    questionData.scored = true;
  </script>


  <div id="gcb-main">

    <div id="course-page" class="page-wrapper active-page">
      <div class="green-section">
        <div class="course-links">
          <button class="btn">
            <a href="/#!explorer">
              <i class="material-icons">library_books</i> 
              COURSES
            </a>
          </button>
          <button class="course-bookmark waves-effect waves-light btn">
            <i class="material-icons">star_border</i> BOOKMARK
          </button>
          <button class="dropdown-button nav-link" href="#!" data-activates="share-dropdown">
            <i class="material-icons">share</i>
            SHARE
          </button>

          {% include 'share_dropdown.html' %}

        </div>

        <h2><a href="course">{{ course_info.course.title }}</a></h2>
        <h3>
        {% if lesson %}
          <span class="light-text">Topic: </span>  {{ lesson.title }}
        {% else %}
          &nbsp;
        {% endif %}
        </h3>
      </div>


      <div class="course-content">
        <div class="row">


          <div class="course-accordion col l5 xl4 m12">
            {% if course_outline %}
              <div class="hide-on-med-and-down">
                {% include 'lesson_navbar.html' %}
              </div>
            {% endif %}

            <ul class="side-nav" id="courseMobileSidebar">
              <li><a id="closeSideNav" href="#!"><i class="material-icons">close</i>Close</a></li>
            </ul>
          </div>

          <div class="course-card col l7 xl8 m12 s12">
            <div class="card">

              {{ html_hooks.insert('unit.after_content_begins') | safe }}
              {% if not display_content %}
                <div>
                  {# I18N: Text shown for a unit that contains no assessments, lessons, header or footer. #}
                  {{ gettext('This unit has no content.') }}
                </div>
              {% else %}
                {% for item in display_content %}
                  <div>
                    {{ item }}
                  </div><!-- /gcb-aside -->
                {% endfor %}
                {% for item in extra_content %}
                  <div class="gcb-aside gcb-button-box">
                    {{ item }}
                  </div><!-- /gcb-aside -->
                {% endfor %}
              {% endif %}

            </div>

            <div class="course-navigation">
              {% if unit.show_contents_on_one_page or
              (lesson and
               course_info.unit.hide_lesson_navigation_buttons) or
              (assessment and
               not is_confirmation and
               course_info.unit.hide_assessment_navigation_buttons) %}
              {% else %}
                {% if back_button_url %}
                  <a href="{{ back_button_url }}" class="btn">{{ gettext('Prev') }}</a>
                {% endif %}

                {% if next_button_url %}
                  <a href="{{ next_button_url }}" class="btn right">{{ gettext('Next') }}</a>
                {% else %}
                  <a href="course" class="btn right"> {{ gettext('End') }} </a>
                {% endif %}
              {% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
