html, body {
  height: 100%;
}

body {
  font-size: $text-size;
  overflow-x: hidden;
}

h1, h2 {
  font-family: $header-font;
  font-weight: 300;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.simple-container {
  position: relative;
  max-width: $context-width;
  margin: 0 auto;
}

.tiny-text {
  letter-spacing: 0.8px;
  font-size: 0.9rem;
}

.light-text {
  font-weight: 300;
}

.pad-5 {
  padding-left: 2%;
}

.page-wrapper {
  margin-top: 65px;
  display: none;

  @media screen and (max-width: 992px) {
    margin-top: 0;
  }
}

.active-page {
  display: block;
}

.text-left {
  text-align: left;
  p, h2 {
    text-align: left;
  }
}

.section {
  padding: 3.8rem 0;

  .section-label {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 0;
    font-weight: 100;
  }
}

.section-s {
  @extend .section;
  padding: 2rem 0;
}

.blue-section {
  background-color: $hover-blue;
  color: #fff;
  .blue-section-inner {
    max-width: $context-width;
    margin: 0 auto;
    padding: 0 15px;
  
    h2 {
      margin-top: 0;
      margin-left: 100px;
      margin-bottom: 40px;
      font-weight: 200;
      font-size: 2rem;
    }

    p {
      margin-bottom: 0;
      margin-right: 45px;
      padding-left: 100px;
      font-size: 1.18rem;
      font-weight: 200;
      text-align: left;
    }
  }
}
.training-center {
  background-image: url(../images/news-lab.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  color: #fff;
  .training-section-inner {
    max-width: $context-width;
    margin: 0 auto;
    padding: 0 15px;

    h2 {
      margin-top: 0;
      margin-left: 100px;
      margin-bottom: 40px;
      font-weight: 200;
      font-size: 2rem;
    }

    p {
      margin-bottom: 0;
      margin-right: 45px;
      padding-left: 100px;
      font-size: 1.18rem;
      font-weight: 200;
      text-align: left;
    }
  }
}
