.navbar-fixed {
  height: auto;
}
.nav-extended {
  background-color: #fff;

  .brand-logo img {
    width: 150px;
    margin-bottom: 5px;
  }

  .navbar-links {
    margin-left: 15%;
  }

  a {
    color: #000;

    &:hover {
      color: $hover-blue;
      background-color: transparent;
      border: none;
    }

    font-size: 1rem;
  }

  .sign-in-nav {
    .sign-in-link {
      color: $primary-color;
    }

    .btn {
      padding-right: 15px;
      padding-left: 15px;
      color: $color-white;
      background-color: $secondary-color;

      &:hover {
        background-color: lighten($secondary-color, 7%);
      }
    }
  }

  .home-main-menu {
    border-top: 1px solid #ccc;

    .nav-link {
      padding: 0 20px;
    }

    .nav-link.active-link {
      border-bottom: 2px solid $primary-color;
    }
  }

  .dropdown-content {
    top: 60px !important;
    min-width: 200px;

    a {
      color: #000;

      &:hover {
        color: $hover-blue;
      }
    }
  }

  .left > a:first-child {
    padding-left: 0;
  }

  .right > a:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 992px) {
    .home-main-menu {
      display: inline-block;
      position: absolute;
      top: 0;
    }
  }
}

.home-mobile-nav {
  height: 0px;
}

.side-nav {

  .user-view {
    background-color: $primary-color;

    img {
      width: 50px;
      margin-right: 20px;
    }

    .user-view-div {
      padding-bottom: 15px;
    }
  }

  li:last-child {
    margin-bottom: 50px;
  }

  .mobile-nav-logo {
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 10px;

    img {
      height: 100%;
    }
  }
}

.button-collapse {
  padding: 0 20px;
  border-right: 1px solid $brown-l;
  @include transition();
  position: absolute !important;
  left: 0;
  margin-left: 0 !important;

  &:hover {
    border-right: 1px solid $brown-l;
    background-color: $brown-l !important;
    color: #000 !important;
  }
}

.course-page-nav {
  .button-collapse {
    display: block;
    position: relative !important;
    margin-right: 50px;
  }
}
