/*
* Developed by Anthony Ngene
*/
@import 'materialize';

@import "partials/functions";
@import 'partials/variables';
@import 'partials/mixins';

@import 'owlcarousel/owl.carousel';

@include google-font("Roboto+Slab");

html, body {
  height: 100%;
}
body {
  font-size: $text-size;
}

h1, h2 {
  font-family: $header-font;
  font-weight: 300;
}

// Homepage
@import 'homepage/navbar';
@import 'homepage/main';
