/*
* Developed by Anthony Ngene
*/
@import 'materialize';
@import "partials/functions";
@import 'partials/variables';
@import 'partials/mixins';


@include google-font("Lato");
@include google-font("Courgette");

html, body {
    height: 100%;
}
body{
    color: $text-color;
    font-size: $text-size;
}

// Homepage
@import 'homepage/navbar'