{% extends 'base_course.html' %}

{% block gcb_page_info %}
  if ('gcbSetPageInfo' in window) {
    gcbSetPageInfo({
      'page_type': 'assessment',
      'assessment_id': '{{ assessment_name }}',
      'unit_id': '{{ unit_id }}',
    });
  }
{% endblock %}

{% block subtitle %}
  {# I18N: Title of the webpage. #}
  - {{ gettext('Assessment') }}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block assets %}
  {{ super() }}
  {% if embed_child_js_url -%}
    <script src="{{ embed_child_js_url }}"></script>
  {%- endif %}
  {% if show_onsubmit_message %}
    <script>
      $(function() {
        setTimeout(function() {  // Wait for question layout
          var buttonBar = $('.qt-assessment-button-bar:last');
          var buttonBarBottom = buttonBar.offset().top + buttonBar.height();
          $('.gcb-butterbar-container')
              .css('position', 'fixed')
              .css('bottom', $(window).height() - buttonBarBottom);
          $('.gcb-butterbar').css('margin', 0);
          {# I18N: Message to a student taking a course that they have
             successfully submitted answers to an assessment (an assessment
             is an examination, test, quiz, or similar.) #}
          cbShowMsgAutoHide('{{ gettext("Assessment submitted.") | js_string }}');
        }, 0);
      });
    </script>
  {% endif %}
  <link rel="stylesheet" href="/static/material-design-icons/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="/modules/assessments/_static/css/assessments.css">
{% endblock %}

{% block main_content %}
  <div id="gcb-main">

    <div id="course-page" class="page-wrapper active-page">
      <div class="green-section">
        <div class="course-links">
          <button class="btn">
            <a href="/#!explorer">
              <i class="material-icons">library_books</i> 
              COURSES
            </a>
          </button>
          <button class="course-bookmark waves-effect waves-light btn">
            <i class="material-icons">star_border</i> BOOKMARK
          </button>
          <button class="course-share waves-effect waves-light btn">
            <i class="material-icons">share</i>
            SHARE
          </button>
        </div>

        <h2><a href="course">{{ course_info.course.title }}</a></h2>
        <h3>Course Activity</h3>
      </div>


      <div class="course-content">
        <div class="row">

          <div class="course-card m12">
            <div class="card">

              <div class="gcb-article">
                {{ main_content }}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
