.section {
  padding: 50px 0;
  
  .section-label {
    text-align: center;
    font-size: 1.38rem;
    margin-top: 0;
  }
}


//Hero Banner
.hero-banner {
  display: block;
  background: url('https://lh3.googleusercontent.com/kl3tvJo3u197hdo4_60AfTr5R72GaR88GBvmr6jLIlOOtr1a95QqdFGOkEN_BA4Gbld8WE3ryNp0IWDvGVv9bjQ=s0');
  margin-top: 65px;
  background-position: center;
  background-size: cover;

  .hero-banner-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 15px;
    
    h1, p { max-width: 470px; }
    
    h1 {
      margin: 0;
      color: $text-color-l;
    }
    
    p {
      font-weight: 500;
      font-size: 18px;
      margin: 40px 0;
    }
  }
  
  @media screen and (max-width: 992px) {
    background: $white-d;
    margin-top: 0;
    .hero-banner-content {
      padding: 50px 15px;
      
      h1 {
        font-size: 3rem;
      }

      p {
        font-weight: 300;
        font-size: 1.2rem;
        margin: 30px 0;
      }
      
      .btn-large { margin-top: 30px; }
    }
  }
}


// Mission
.mission {
  background-color: $hover-blue;
  color: #fff;
  
  .mission-inner {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    
    h2 {
      margin-top: 0;
      font-size: 1.75rem;
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 0;
      font-size: 1.25rem;
      font-weight: 200;
    }
  }
}

.awards, .how-it-works {
  padding: 50px 30px;
  
  .carousel-section-wrapper {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  p {
    font-size: 1rem;
    font-weight: 300;
  }
}

// Awards
.awards {
  text-align: center;
  background-color: $white-d;
  
  .item {
    min-height: 100px;
    text-align: center;
    
    img {
      max-width: 200px;
      margin: 0 auto;
    }
  }
}

// How it works
.how-it-works {
  margin-bottom: 20px;
  
  .section-label {
    margin-bottom: 50px;
  }
  
  .how-it-works-text {
    max-width: 300px;
  }
  
  .how-it-works-img {
    text-align: right;
    img {
      max-width: 265px;
      display: inline-block;
    }
  }
  
  .how-it-works-heading {
    color: $hover-blue;
    font-size: $sub-text-size;
    font-weight: 200;
    letter-spacing: 1px;
  }
  
  @media screen and (max-width: 600px) {
    text-align: center;
    .how-it-works-img { text-align: center; }
    .how-it-works-text {
      display: inline-block;
    }
  }
}