.slider { 
  height: auto;
  
//Hero Banner
.hero-banner .hero-banner-content h1{
      color: white;
    }
.hero-banner {
  display: block;
  background: url('../images/hero-banner.jpg');
  background-position: center;
  background-size: cover;

  .hero-banner-content {
    max-width: $context-width;
    color: white;
    position: relative;
    padding: 70px 15px;

    @media screen and (max-width: 992px){}
    h1 {
      font-size: 2rem;
      font-family: Trebuchet MS;
      color: white;
      background: rgba(0, 0, 0, 0.5);
      padding: 80px;
      max-width: 500px;
      margin: 0 0 0 0;
      min-height: 430px;
    }

    a {
      background: red;
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}


  @media screen and (max-width: 992px) {
    background: $white-d;
    .hero-banner-content {
      padding: 50px 15px;

      h1, p {
        color: $text-color;
      }

      h1 {
        font-size: 3rem;
      }

      p {
        font-weight: 300;
        font-size: 1.2rem;
        margin: 30px 0;
      }

      .btn-large {
        margin-top: 30px;
      }
    }
}

}
// Mission
.mission {
  background: white;

  .blue-section-inner {
    max-width: 1000px;
    text-align: center;
    color: black;

    p {
      margin: 0;
      padding: 0;
    }
  }
}

// Awards & How it works
.awards, .how-it-works .slider {

  .carousel-section-wrapper {
    display: block;
    max-width: $context-width;
    margin: 0 auto;
  }

  @include thin-paragraph;
}

// Awards
.awards {
  text-align: center;
  background-color: $white-d;
  padding:0;

  .item {

    img {
      max-width: 200px;
      margin: 0 auto;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }

  .item-rectangle {
    margin-top: 40px;
    margin-bottom: 40px;

    img {
      max-width: 200px;
      margin: 0 auto;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }

  .item-rectangle-large {
    margin-top: 10px;
    margin-bottom: 10px;

    img {
      max-width: 200px;
      margin: 0 auto;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
}

// How it works
.how-it-works {
  margin-bottom: 20px;

  .section-label {
    margin-bottom: 4.4rem
  }

  .how-it-works-text {
    max-width: 300px;
  }

  .how-it-works-img {
    text-align: right;
    img {
      max-width: 500px;
      display: inline-block;
    }
  }

  .how-it-works-heading {
    color: $hover-blue;
    font-size: $sub-text-size;
    font-weight: 300;
    letter-spacing: 1px;
  }

  @media screen and (max-width: 600px) {
    text-align: center;
    .how-it-works-img {
      text-align: center;
    }
    .how-it-works-text {
      display: inline-block;
    }
  }
}

// Question cards
.question-cards {
  background-color: $white-d;
  padding: 20px 15px;

  .card {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  .question-card-div {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .question-card-media {
    width: 66.66%;
  }

  .question-card-text {
    width: 33.2%;
    padding: 20px;

    h2 {
      font-weight: 300;
    }
  }

  .responsive-media-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56%;
    height: 0;
  }

  .flex-reverse {
    flex-direction: row-reverse;

    .question-card-text {
      padding-bottom: 30px;
      align-self: flex-end;

      a {
        font-weight: 500;
        color: $hover-blue;
      }

      p {
        margin-bottom: 80px;
      }
    }
  }

  iframe {
    position: absolute;
  }

  h2 {
    margin-top: 0;
    font-size: 1.75rem;
    margin-bottom: 40px;
  }
  @include thin-paragraph;

  @media screen and (max-width: 1072px) {

    .question-card-div {
      flex-direction: column;

      .question-card-media, .question-card-text {
        width: 100%;
      }
    }
  }
}

// Testimonials
.testimonials {
  padding-bottom: 0;
  background-color: $white-l;

  .row {
    margin: 0;
  }

  .card-tabs {
    border: none;
  }

  .testimonials-card-tabs {
    margin: 0 auto;

    .tab {
      background-color: $white-l;
    }
  }

  .testimonial-div {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: all 1s;

    img {
      min-width: 800px;
    }
  }

  .testimonial-card {
    width: 350px;
    position: absolute;
    background-color: $color-white;
    padding: 15px;
    top: 20%;
    left: 10%;

    @include thin-paragraph;

    @include sub-heading;
  }
}

// Continue learning
.continue-learning {
  padding: 30px 5% 30px 5%;
  text-align: right;
  background-color: white;
  color: $color-white;
  text-align: center;
  @include transition();

  &:hover {
    background-color: lighten(white, 5%);
  }

  a {
    color: #fff;
    background-color: red;

    &:hover {
      background-color: lighten(red, 7%);
    }
  }


  @include sub-heading;
}

.join {
  margin-top: 1.8rem;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #1477d6;
  color: #fff;
  text-align: center;
}

p.tiny-text {
  font-weight: 200;
  font-size: 1.0rem;
}

button.btn.btn-default {
  margin-top: 2.6rem;
  color: #000;
  margin-right: 2.5rem;
  background-color: #fff;
  font-size: 0.9rem;
  text-transform: capitalize;
}

button.btn.btn-default img {
 max-height:100px;
 margin-bottom: 0.5rem;
}

.awards .owl-nav .owl-prev, .awards .owl-nav .owl-next {
  padding: 20px;
  margin-left: -10px;
  margin-right: -10px;
}
