
.nav-extended {
  background-color: #fff;

  .brand-logo img {
    width: 207px !important;
    margin-left: 20px;
  }

  a {
    color: #000;
    &:hover {
      color: $hover-blue;
      background-color: transparent;
      border: none;
    }
  }

  .nav-wrapper:last-child {
    border-top: 1px solid #ccc;
  }

  .dropdown-content {
    top: 60px !important;

    a {
      color: #000;
      &:hover {
        color: $hover-blue;
      }
    }
  }
}
