.topic-library {
  background-color: $white-d;
  
  .simple-container {
    padding: 0 15px;
  }
  
  .select-wrapper {
    max-width: 200px;
  }
}

.course-card {
  .card-image {
    width: 80px;
    background-color: $secondary-color;
  }
  
  h2 {
    font-size: 1.6rem;
  }
  
  @include thin-paragraph;
  
  .card-action {
    border-top: none;
    padding-top: 0;
    
    a {
      color: $primary-color !important;
      float: right;
    }
    
    & > div {
      padding-top: 16px;
      border-top: 3px solid $brown-l;
    }
  }
}


//  Affects the main app
paper-radio-button {
  float: left;
  margin-right: 15px;
}
.underline.paper-input-container {
  display: none;
}
input.style-scope.paper-input {
  border-bottom: 1px solid #ececec !important;
}

h2.style-scope.filter-sidebar {
  margin-top: 0 !important;
}
