// === SCREENS ===
@mixin tiny-screen(){
  @media (max-width: 320px) {
    @content;
  }
}
@mixin small-screen(){
  @media (max-width: 480px) {
    @content;
  }
}
@mixin medium-screen(){
  @media (max-width: 680px) {
    @content;
  }
}
@mixin large-screen(){
  @media (max-width: 960px) {
    @content;
  }
}

@mixin transition($time: 0.2s){
  -webkit-transition: all $time;
  -moz-transition: all $time;
  -ms-transition: all $time;
  -o-transition: all $time;
  transition: all $time;
}

@mixin  google-font($font){
  $font: unquote($font);
  @import url(https://fonts.googleapis.com/css?family=#{$font}:100,300);
}

@mixin thin-paragraph() {
  p {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.8px;
    line-height: 25px;
    color: #616161;
  }  
}

@mixin sub-heading() {
  h3 {
    font-size: 1.6rem;
    font-weight: 300;
  }
}
