<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="/modules/explorer/_static/css/style.css" media="screen,projection">

    <script src="/static/polymer-1.2.0/webcomponentsjs/webcomponents-lite.js"></script>
    {% if use_flattened_html_imports %}
        <link rel="import" href="/static/html-imports/explorer-imports.html">
    {% endif %}
    <link rel="import" href="/modules/explorer/_static/components/course-explorer/course-explorer.html">
</head>

<body>


<!-- Explorer -->

    <course-explorer></course-explorer>

<!--  Footer  -->
<footer>
    <div class="card footer-top">
        <div class="row">
            <div class="col l6 m12">
                <img src="/modules/explorer/_static/images/logo.png" alt="Google" aria-label="Google" draggable="false">
                <p>A Growth Engine for Digital Skills</p>
            </div>

            <div class="col l3 m12 footer-privacy">
                <a href="https://www.google.co.uk/intl/en/policies/privacy/?fg=1" class="gbl-footer__link"
                   target="_blank">
                    <span class="tiny-text">Privacy &amp; Terms</span>
                </a>
            </div>

            <div class="col l3 m12">
                <select aria-label="Choose another locale">

                    <option value="https://learndigital.withgoogle.com/digitalskills">
                        Africa
                    </option>

                    <option value="https://learndigital.withgoogle.com/lateliernumerique">
                        Afrique
                    </option>

                    <option value="https://learndigital.withgoogle.com/oficinaafrica">
                        África
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalgarage-au">
                        Australia
                    </option>

                    <option value="https://learndigital.withgoogle.com/atelierdigital-be">
                        Belgique
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitaalatelier">
                        België
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalengarazh">
                        България
                    </option>

                    <option value="https://learndigital.withgoogle.com/ateliedigital">
                        Brazil
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalnigaraz">
                        Česká republika
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalnagaraza-rs">
                        Србија
                    </option>

                    <option value="https://learndigital.withgoogle.com/zukunftswerkstatt">
                        Deutschland
                    </option>

                    <option value="https://learndigital.withgoogle.com/succesonline">
                        Danmark
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalgarage-ee">
                        Eesti
                    </option>

                    <option value="https://learndigital.withgoogle.com/greektourism">
                        Ελλάδα
                    </option>

                    <option value="https://learndigital.withgoogle.com/activatunegocio">
                        España
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalworkshop-eu">
                        European
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalactive">
                        France (Digital Active)
                    </option>

                    <option value="https://learndigital.withgoogle.com/pourlespros">
                        France (Pour les Pros)
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalnagaraza">
                        Hrvatska
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalgarage-ie">
                        Ireland
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalunlocked">
                        India
                    </option>

                    <option value="https://learndigital.withgoogle.com/eccellenzeindigitale">
                        Italia
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalworkshop-jp">
                        日本
                    </option>

                    <option value="https://learndigital.withgoogle.com/garagedigital">
                        Latinoamérica
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalgarage-lv">
                        Latvija
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalgarage-lt">
                        Lietuva
                    </option>

                    <option value="https://learndigital.withgoogle.com/digital-workshop-lu">
                        Luxembourg (EN)
                    </option>

                    <option value="https://learndigital.withgoogle.com/atelierdigital-lu">
                        Luxembourg (FR)
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalworkshop-lu">
                        Luxemburg (DE)
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalworkshop-hu">
                        Magyarország
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalworkshop-mt">
                        Malta
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalewerkplaats">
                        Nederland
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalworkshop-at">
                        Österreich
                    </option>

                    <option value="https://learndigital.withgoogle.com/internetowerewolucje">
                        Polska
                    </option>

                    <option value="https://learndigital.withgoogle.com/atelierdigitalportugal">
                        Portugal
                    </option>

                    <option value="https://learndigital.withgoogle.com/atelieruldigital">
                        România
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalakademin">
                        Sverige
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalnagaraza-si">
                        Slovenija
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalnagaraz">
                        Slovensko
                    </option>

                    <option value="https://learndigital.withgoogle.com/atelierdigital-de">
                        Schweiz
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalgarage-fi">
                        Suomi
                    </option>

                    <option value="https://learndigital.withgoogle.com/atelierdigital-fr">
                        Suisse
                    </option>

                    <option value="https://learndigital.withgoogle.com/atelierdigital-it">
                        Svizzera
                    </option>

                    <option value="https://learndigital.withgoogle.com/dijitalatolye">
                        Türkçe
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalgarage" selected="">
                        United Kingdom
                    </option>

                    <option value="https://learndigital.withgoogle.com/digitalworkshop-ua">
                        Україна
                    </option>

                </select>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="row">
            <div class="col l6 m12 footer-appstores">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.google.android.apps.growthengine">
                    <img class="store" src="/modules/explorer/_static/images/playstore.png">
                </a>
                <a target="_blank" href="https://itunes.apple.com/gb/app/learn-digital/id1206273386?l=en&amp;mt=8">
                    <img class="store" src="/modules/explorer/_static/images/appstore.png">
                </a>
            </div>

            <div class="col l6 m12 footer-social-icons">
                <span class="gbl-footer__sharing-text">Share</span>

                <a href="https://plus.google.com/share?url=g.co/DigitalGarage" target="_blank"
                   class="gbl-footer__sharing-control"
                   aria-label="" share-width="" share-height="">
                    <img src="/modules/explorer/_static/images/google-plus.png" alt="" widht="33" height="22">
                </a>

                <a href="http://www.facebook.com/sharer/sharer.php?u=digitalgarage.withgoogle.com" target="_blank"
                   class="gbl-footer__sharing-control"
                   aria-label="" share-width="" share-height="">
                    <img src="/modules/explorer/_static/images/facebook.png" alt="FB" widht="22" height="22">
                </a>

                <a href="https://twitter.com/share?url=https://g.co/DigitalGarage"
                   target="_blank" class="gbl-footer__sharing-control" aria-label="" share-width="" share-height="">
                    <img src="/modules/explorer/_static/images/twitter.png" alt="twitter" widht="25" height="22">
                </a>
            </div>
        </div>
    </div>
</footer>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/modules/explorer/_static/js/materialize.min.js"></script>
<script src="/modules/explorer/_static/js/owl.carousel.min.js"></script>
<script src="/modules/explorer/_static/js/main.js"></script>
</body>
</html>
